In this notebook,Data science tools and ecosystem are summarized.

Some of the popular languages that data scientists use are:
1. Python
2. Java
3. R programming

Some of the commonly used libraries used by data scientists include:
1. Pandas 
2. TensorFlow
3. Keras

|Data science|
--------------
|Jupyter notebook|
|Zeppelin notebook|
|R studio's|

### Below are a few examples of evaluating arithmetic expressions in python.
1. 1+1=2
2. 2-1=1

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
hours, minutes = divmod(330, 60)
print("Hours=",hours)
print("Minutes=",minutes)

Hours= 5
Minutes= 30

**Objective**
* Java
* Python
* R programming 
* SQL
* Scala

## Author
Ruthikssha